<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入完成</title>
</head>
<body>
<table>
    <tr>
        <td>导入完成</td>
        <td>共导入{{ a }}条记录</td>
    </tr>
    <tr>
        <td>车主工号重复的记录如下：</td>
    </tr>
    <tr>
        <td>序号</td>
        <td>车主姓名</td>
        <td>工号</td>
    </tr>
    {% for p in user_log_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.0 }}</td>
            <td>{{ p.1 }}</td>
            <td>
                <!-- 使用path转换器传输car.id的值 -->
                <a href="">更新</a>

                <!-- 使用查询字符串传输car.id的值  -->
                <a href="">删除</a>
            </td>
        </tr>
    {% endfor %}
        <tr>导入错误信息如下：</tr>
        <tr>{{ exception_log_data }}</tr>
</table>
</body>
</html>